.Input {
  width: 200px;
  height: 56px;

  display: flex;
  flex-direction: column;
}

input,
textarea {
  font-family: Noto Sans JP;
  width: 100%;
  position: relative;
  background-color: transparent;
  height: auto;
  padding: 1em !important;
  margin: 0em !important;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 8px;
  outline: none !important;
  border: none;
}

.InputContainer {
  display: flex;
  align-items: center;
}

.Multiline {
  display: inline-block !important;
  border: none;
}

.Icon {
}

.EndIcon,
.StartIcon {
  padding: 0.5em;
  display: flex;
}

.md {
  height: 56px;
}

.sm {
  height: 40px;
}

.FullWidth {
  width: 100%;
}

.Label {
  font-size: 12px;
  font-family: Noto Sans JP;
  font-weight: 400;
}

.Label.error {
  color: #d32f2f;

  &.focus {
    color: #d32f2f;
  }
  &.hover {
    color: #333333;
  }
}

.Label.default {
  color: #333333;
  &.focus {
    color: #2962ff;
  }
  &.hover {
    color: #333333;
  }
}

.HelperText {
  font-size: 10px;
  color: #828282;
  &.error {
    color: #d32f2f;
  }
}

.InputContainer.default {
  border-radius: 8px;
  border: 1px solid #828282;
  &:focus,
  &.focus {
    border: 1px solid #2962ff !important;
  }
  &:hover,
  &.hover {
    border: 1px solid #333333;
  }
}

.InputContainer.error {
  border-radius: 8px;
  border: 1px solid #d32f2f;
  &:focus,
  &.focus {
    border: 1px solid #d32f2f !important;
  }

  &:hover,
  &.hover {
    border: 1px solid #333333 !important;
  }
}

.InputContainer.disabled {
  background-color: #f2f2f2 !important;
  border: 1px solid #e0e0e0 !important;
  color: #828282;
}
