@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap");

.Menu {
  width: 237px;
  height: 100%;
  min-height: 100;
  background-color: #fafbfd;
  padding: 46px;
  display: flex;
  flex-direction: column;

  text-align: left;

  .Title {
    font-family: "Poppins", sans-serif;
    display: flex;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;

    margin-bottom: 20vh;
  }
  .TitleFirst {
    color: #f7542e;
  }

  .Element {
    color: #9e9e9e;
    font-family: Noto Sans JP;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-top: 30px;
    cursor: pointer;
  }

  .Element.Active {
    color: #090f31;
  }
}
